<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
	
	<variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>
	
	<targets>
		<target  name="logfile" xsi:type="File" fileName="${LogDirectory}/${shortdate}.log" layout="${longdate}	${level:uppercase=true}|	${logger}|${message}"/>
		<target  name="logconsole" xsi:type="ColoredConsole" layout="${longdate}	${level:uppercase=true}|	${logger}|	${message}"/>
		<!-- <target xsi:type="File" name="allfile" fileName="c:\My_Study_Csh\Quarter2\ASP.NET\Lesson2\MetricsManager\MetricsManager\nlog-all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" /> -->
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>